<header class="header" [class.fixed]="navIsFixed">
  <div id="logo">
    <a href="index.html"><img src="assets/img/CHOL-LOGO2.png"  data-retina="true" alt=""></a>
  </div>
  <ul id="top_menu">
    <li *ngIf="isloggedin == 'false' "><a class="login" [routerLink]="['/login']">Login</a></li>
    <li *ngIf="isloggedin == 'true' "><a class="login" (click)="logout()">Logout</a></li>
    <li><a href="Tutors.html" class="hidden_tablet">Tutors</a></li>
      <li><a href="#0" class="search-overlay-menu-btn">Search</a></li>

    <li class="hidden_tablet"><a href="admission.html" class="btn_1 rounded">Admission</a></li>
    <li>
      <div class="hamburger hamburger--spin" (click)="toggleclick()" [ngClass]="status ? 'is-active' : 'deactive'">
         <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </li>
  </ul>
  <!-- /top_menu -->
</header>
<!-- /header -->

<div id="main_menu">
  <div class="container">
    <nav class="version_2">
      <div class="row">
          <div class="col-md-3">
              <h3>About CHOL</h3>
              <ul>
            
                <li><a href="about.html">Why CHOL</a></li>
                <li><a href="blog.html">About Tutors</a></li>
                <li><a href="login.html">Careers</a></li>
                <li><a href="register.html">Consultancy</a></li>
                <li><a href="contacts.html">Testimony</a></li>
                <li><a href="404.html">Contact us</a></li>
              
              </ul>
            </div>
        <div class="col-md-3">
          <h3>After School</h3>
          <!-- <ul>
            <li><a href="index.html">After School Program</a></li>
            <li><a href="index-2.html">Science</a></li>
            <li><a href="index-6.html">Design and Technology</a></li>
            <li><a href="index-3.html">History</a></li>
            <li><a href="index-4.html">French</a></li>
            <li><a href="index-5.html">Spanish)</a></li>
          </ul> -->
        </div>
        <div class="col-md-3">
          <h3>Online Learning</h3>
          <!-- <ul>
            <li><a href="courses-grid.html">IGCSE</a></li>
            <li><a href="courses-grid-sidebar.html">SAT</a></li>
            <li><a href="courses-list.html">Courses list</a></li>
            <li><a href="courses-list-sidebar.html">IB</a></li>
            <li><a href="course-detail.html">ACT</a></li>
            <li><a href="course-detail-2.html">TOEFL</a></li>
            <li><a href="admission.html">Common Entrance</a></li>
            <li><a href="teacher-detail.html">Checkpoints</a></li>
          </ul> -->
        </div>
        
        <div class="col-md-3">
          <h3>Homeschooling </h3>
          <!-- <ul>
            <li><a href="media-gallery.html">Single Course</a></li>
            <li><a href="cart-1.html">After School</a></li>
            <li><a href="cart-2.html">Online School</a></li>
            <li><a href="cart-3.html">Home Schooling</a></li>
            
          </ul> -->
        </div>
        <div class="col-md-3">
          <h3>Get a Tutor</h3>
        </div>
      </div>
      <!-- /row -->
    </nav>
    <div class="follow_us">
      <ul>
        <li>Follow us</li>
        <li><a href="#0"><i class="ti-facebook"></i></a></li>
        <li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
        <li><a href="#0"><i class="ti-google"></i></a></li>
        <li><a href="#0"><i class="ti-pinterest"></i></a></li>
        <li><a href="#0"><i class="ti-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>