<!-- footer -->
<div class="footer">
  <div class="container">
      <div class="row ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
              <div class="ft-logo">Company Logo</div>
          </div>
      </div>
      <hr class="footer-line">
      <div class="row ">
          <!-- footer-about -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <div class="footer-title">Company</div>
                  <ul>
                    <li><i style="color:white" class="faicons fa fa-map-marker"></i><span> 301,3rd floor KSR Tower, Madhapur, Hyderabad, Telangana</span></li><li>
                    </li><li><i style="color:white" class="faicons fa fa-mobile-phone"></i><span> 040-48505572</span></li><li>
                    </li><li><i style="color:white" class="faicons fa fa-envelope"></i><span> info@fronyn.com</span></li><li>
                  </li></ul>
              </div>
          </div>
          <!-- /.footer-about -->
          <!-- footer-links -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <div class="footer-title">Quick Links</div>
                  <ul class="list-unstyled">
                      <li><a [routerLink]="['/']">Home</a></li>
                      <li><a>Link1</a></li>
                      <li><a>Link2</a></li>
                      <li><a>Link3</a></li>
                  </ul>
              </div>
          </div>
          <!-- /.footer-links -->
          
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <h3 class="footer-title">Subscribe Newsletter</h3>
                  <form>
                      <div class="newsletter-form">
                          <input class="form-control" placeholder="Enter Your Email address" type="text">
                          <button class="btn btn-default btn-sm" type="submit">Go</button>
                      </div>
                  </form>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- tiny-footer -->
      </div>
      <div class="row ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
              <div class="tiny-footer">
                  <p>© 2018 - All Rights with Fronyn Technologies </p>
              </div>
          </div>
          <!-- /. tiny-footer -->
      </div>
  </div>
</div>
<!-- /.footer -->