<main>
  <section id="hero_in" class="general">
    <div class="wrapper">
      <div class="container">
        <h1 class="fadeInUp">ABOUT CHOL<span></span></h1>
      </div>
    </div>
  </section>
  <!--/hero_in-->

  <div class="container margin_60_35">
    <div class="row">
      <aside class="col-lg-3" id="sidebar" [ngClass]={showSticky:fixed}>
          <div class="box_style_cat" id="faq_box">
            <ul id="cat_nav">
              <li><a scrollTo href="#intoduction" class="active"><i class="icon_document_alt"></i>Introduction</a></li>
              <li><a scrollTo href="#ourPrinciples"><i class="icon_document_alt"></i>Our Principles</a></li>
              <li><a scrollTo href="#meetTheTeam"><i class="icon_document_alt"></i>Meet the Team</a></li>
              <li><a scrollTo href="#Testimonies"><i class="icon_document_alt"></i>Testimony</a></li>
            </ul>
          </div>
          <!--/sticky -->
      </aside>
      <!--/aside -->
      
      <div class="col-lg-9" id="aboutUs">
        <h4 class="nomargin_top">intoduction</h4>
        <div role="tablist" class="add_bottom_45 accordion_2" id="intoduction">
          <p>Our mission statement is to professionalise and legitimise private tutoring; our ambition is to help our students to perform at their best, building long-term academic resilience and life-long intellectual curiosity.</p>
          <img src="http://via.placeholder.com/300x220/ccc/fff/2_carousel.jpg" class="img-responsive">
          <h3>1. Why Chol?</h3>
          <p>Parents say that they choose Keystone for three main reasons:</p>
          <p>Our Team. Keystone has been the preeminent company in persuading people to consider tutoring as a full-time profession. The tutors we represent are professional, committed and methodical in their teaching. Our full-time tutors are trained and provided with targeted materials. Our administrative team is frequently praised for its efficiency, dedication and responsiveness. We have a low turnover of office staff; we place a high premium on recruiting good humoured, helpful and committed staff who forge long lasting relationships with our clients.</p>
        </div>
        <!-- /accordion payment -->
        
        
        <div role="tablist" class="add_bottom_45 accordion_2" id="ourPrinciples">
          <h4 class="nomargin_top">Our Principles</h4>
         <p>Tutoring is often in the press for the wrong reasons. Unsurprisingly, many parents have misgivings about seeking a tutor for their child. Since our establishment in 2007, we have come to hold the following truths about the work that we do.</p>
         <p>Tutoring should be used judiciously. Families place a lot of trust in us when they ask how much tutoring their child needs. We believe that a tutor should not upset the balance in a child's life between work and play.</p> 
         <p>Tutors should be a victim of their own success. Successful tutors help their pupils to become academically self-reliant. </p>
         <p>Tutoring should be transparent. When it&apos;s appropriate, we encourage tutors to coordinate their work with their pupils&apos; schoolteachers and other educational professionals.</p>
          <p>Tutoring should not be the preserve of the elite. Keystone has a considered charitable scheme to provide tutoring to families who would not otherwise be able to afford it.</p>
        </div>
        <!-- /accordion suggestions -->
        
        
        <div role="tablist" class="add_bottom_45 accordion_2" id="meetTheTeam">
            <h4 class="nomargin_top headingCenter">Meet theTeam</h4>
          <div class="row">
            <div class="col">
              <img src="https://i.twic.pics/v1/cover=1:1/resize=150/placeholder:auto" class="img-responseve">
              <h5 class="text-center">Alena Reachel</h5>
              <small class="text-center">Instructor</small>
            </div>
            <div class="col">
              <img src="https://i.twic.pics/v1/cover=1:1/resize=150/placeholder:auto" class="img-responseve">
              <h5 class="text-center">Alena Reachel</h5>
              <small class="text-center">Instructor</small>
            </div>
            <div class="col">
              <img src="https://i.twic.pics/v1/cover=1:1/resize=150/placeholder:auto" class="img-responseve">
              <h5 class="text-center">Alena Reachel</h5>
              <small class="text-center">Instructor</small>
            </div>
          </div>
          <a href="#"><button type="button" class="btn_1 rounded full-width add_top_60">View More</button></a>
        </div>
        <!-- /accordion Reccomendations -->
        
       
        <div role="tablist" class="add_bottom_45 accordion_2" id="Testimonies">
            <h4 class="nomargin_top headingCenter">Testimonies</h4>
          <div class="row">
            <div class="col-lg-2">
              <img src="http://via.placeholder.com/85x85/ccc/fff/2_carousel.jpg" class="rounded-circle">
            </div>
            <div class="col-lg-10">
              <div class="testimonialsContent">
                <p>Tutoring is often in the press for the wrong reasons. Unsurprisingly, many parents have misgivings about seeking a tutor for their child. Since our establishment in 2007, we have come to hold the following truths about the work that we do.</p>
                <h5>Micheal Dennis</h5>
                </div>
            </div>
          </div>
        </div>
        <!-- /accordion Terms -->
        
        
        <!-- /accordion Booking -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!--/container-->
</main>