<main>
<section  [ngClass]="'hero_single version_2 start_bg_zoom'">
  <div class="wrapper">
    <div class="container mt-spl">
      <h3>THE PREMIER PLATFORM</h3>
      <p>Redifined Learning System</p>
      <div class="full_width text-center mt-38">
        <img src="assets/img/Bitmap1.png" [ngClass]="'bitmap1'" alt="logo"/>
        <img src="assets/img/Bitmap.png" [ngClass]="'bitmap'" alt="logo"/>
      </div>
    </div>
  </div>
</section>

<div class="col-md-12">
  <div class="row">
    <div [ngClass]="'col-lg-4 col-md-6 wow tr'" data-wow-offset="150">
      <a href="#0" class="grid_item">
      
          
            <h3 class="txt">After School</h3>
            <h5 class="txt2">Programme</h5>
      </a>
    </div>
    <!-- /grid_item -->
    <div [ngClass]="'col-lg-4 col-md-6 wow tr1'" data-wow-offset="150">
      <a href="#0" class="grid_item">
        
          
            <h3 class="txt">Home School</h3>
              <h5 class="txt2">Programme</h5>

      </a>
    </div>
    <!-- /grid_item -->
    <div [ngClass]="'col-lg-4 col-md-6 wow tr2'" data-wow-offset="150">
      <a href="#0" class="grid_item">
        
        
            <h3 class="txt">Online School</h3>
                  <h5 class="txt2">Programme</h5>

      </a>
    </div>
  </div>
</div>

<!--courses-->
<div [ngClass]="'container-fluid margin_120_0'">
  <div class="main_title_2">
    <span><em></em></span>
    <h2>Available Courses</h2>
    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
  </div>
  <div id="reccomended" class="">
     <owl-carousel
     [options]="{items: 4, dots: true, navigation: false,center: true,loop:true,responsive: {
      '0': {  items: 1},
     '480': { items: 2},
     '640': { items: 3},
     '1080':{items:4}
}}"  [items]="images"   [carouselClasses]="['owl-theme', 'row', 'sliding','owl-carousel']">
     <div [ngClass]="'item'" *ngFor="let image of images;let i = index">
        <div [ngClass]="'box_grid'">
            <figure>
            
              <a href="course-detail.html">
                <img src="{{image.name}}" [ngClass]="'img-fluid'" alt="">
              </a>
              <div class="preview"><span>Preview course</span></div>
            </figure>
            <div [ngClass]="'wrapper'">
              <small>Category</small>
              <h3>Persius delenit has cu</h3>
              <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
              <div [ngClass]="'rating'"><i [ngClass]="'icon_star voted'"></i><i [ngClass]="'icon_star voted'"></i><i [ngClass]="'icon_star voted'"></i><i [ngClass]="'icon_star'"></i><i class="icon_star"></i> <small>(145)</small></div>
            </div>
            <ul>
          
              <li><a href="course-detail.html">Enroll now</a></li>
            </ul>
          </div>
     </div>
 </owl-carousel>
 
  </div>
  <!-- /carousel -->
  <div class="container">
    <p class="btn_home_align"><a href="courses-grid.html" class="btn_1 rounded">View all courses</a></p>
  </div>
  <!-- /container -->
</div>

<div class="call_section">
  <div class="container clearfix">
    <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
      <div class="block-reveal">
        <div class="block-vertical"></div>
        <div class="box_1">
          <h3>Enjoy a great students community</h3>
          <p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
          <a href="#0" class="btn_1 rounded">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>